* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
  background-color: #eefde5;
  padding: 40px;
  margin: 0;
}

section {
  margin-bottom: 50px;
}

#main {
  padding: 80px 40px 80px 88px;
  width: 100%;
  flex: 1;
}

#wrapper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 1300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  position: relative;
}