* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
  background-color: #eefde5;
  padding: 40px;
  margin: 0;
}

section {
  margin-bottom: 50px;
}

#main {
  padding: 80px 40px 80px 88px;
  width: 100%;
  flex: 1;
}

#wrapper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 1300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  position: relative;
}

footer {
  text-align: right;
  padding: 20px 0;
  font-weight: 400;
  color: #595959;
}

h2, h3 {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 16px;
  padding-bottom: 5px;
  color: #000;
}

h4 {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 8px;
}

h5 {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 8px;
}

/* Decorative elems */
#space {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  color: #B1E386;
  margin: 20px 0;
  font-size: 12px;
}



/*========= Sections: =========*/

#about p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-align: justify;
}
#about .fullname {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 12px;
}