* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
  background-color: #eefde5;
  padding: 40px;
  margin: 0;
}