* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
  background-color: #eefde5;
  padding: 40px;
  margin: 0;
}

section {
  margin-bottom: 50px;
}

/* profile img */
.profile-img {
  width: 310px;
  height: 400px;
  border-radius: 5px;
}

aside {
  background: #c1e5ab;
  padding-block: 40px;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
#sidebar-content {
  padding: 40px 40px 0px 40px;
  width: 100%;
}

#main {
  padding: 80px 40px 80px 88px;
  width: 100%;
  flex: 1;
}

#wrapper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 1300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  position: relative;
}

footer {
  text-align: right;
  padding: 20px 0;
  font-weight: 400;
  color: #595959;
}

h2, h3 {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 16px;
  padding-bottom: 5px;
  color: #000;
}

h4 {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 8px;
}

h5 {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 8px;
}

/* Decorative elems */
#space {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  color: #B1E386;
  margin: 20px 0;
  font-size: 12px;
}
.job-title {
  font-weight: 700;
}

.green_text {
  color: #6ad146;
}
.separator {
  color: #000;
}



/*========= Sections: =========*/

#about p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-align: justify;
}
#about .fullname {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 12px;
}


#projects-list {
  padding-left: 20px;
}

#projects-list li {
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 8px;
}

#projects-list a {
  color: #2fb400;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  word-break: break-all;
}
#projects-list a:hover {
  color: darkgreen;
  text-decoration: underline; 
}


.experience {
  margin-bottom: 25px;
  page-break-inside: avoid;
}

.experience p{
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.experience-list {
  padding-left: 20px;
  margin-bottom: 10px;
}

.experience-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
  text-align: justify;
  margin-bottom: 5px;
}


#education p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #a8a8a8;
  margin-bottom: 8px;
}


#software ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  max-width: 700px;
}

#software li {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
  margin-right: 15px;
  margin-bottom: 5px;
}


#contacts-title, .skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.contacts-item {
  display: block;
  margin-bottom: 12px;
  font-weight: 400;
}

.contacts-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}

.contacts-item a {
  text-decoration-line: none;
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-break: break-all;
}

.contacts-item a:hover {
  color: #2fb400;
}


.skills-list {
  padding-left: 20px;
  list-style-type: disc;
}

.skills-list li {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 6px;
  text-align: justify;
}


#agreement {
  margin-top: 80px;
}

#agreement p {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #595959;
  text-align: justify;
}